@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand-purple-light: #ccccfa66;
  --brand-purple: #6161d680;
  --brand-white: #ffffff;
  --brand-gray: #f3f5f9;
  --brand-green: #077e77;
  --brand-red: #fe2264;
  --brand-black: #181825;
  --brand-dark-gray: #e9edf3;
  --brand-dark-purple: #353570;
  --brand-medium-gray: #e7e1e1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  height: 100%;
  background: var(--brand-gray);
  color: var(--foreground);
  margin: 0;
}
